<!--<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6">
      <label for="search">Search</label>
      <input type="text" id="search" [(ngModel)]="search" #txtBody>
    </div>
    <div class="col-xs-6">
      <a href="javascript:void(0);" class="pull-right" (click)="reverseDate()">Sort Date</a>
    </div>
  </div>
  <div class="row">
      <app-blog-item
        class="col-xs-3"
        *ngFor="let post of posts | searchfilter: '_source.title': txtBody.value | paginate: { itemsPerPage: 10, currentPage: page };let i = index"
        [i]="i"
        [selectedPostIndex]="selectedPostIndex"
        [post]="post"
        [class.active]="i == 0"
        (click)="setSelectedPostIndex(i)"
        [ngStyle]="{backgroundColor:i == selectedPostIndex}"></app-blog-item>
  </div>
  <div class="row">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>-->

<div>
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-3">
      <div *ngIf="layout=='grid'" (click)="layout='list';itemsPerPage=5">
        <a href="javascript:void(0);">
          <span class="glyphicon glyphicon-th-list"></span>
        </a>
      </div>
      <div *ngIf="layout=='list'">
        <a href="javascript:void(0);" (click)="layout='grid';itemsPerPage=5">
          <span class="glyphicon glyphicon-th"></span>
        </a>
      </div>
    </div>
    <div class="col-xs-4">
      <label for="search" style="color: white;">Search</label>
      <input type="text" id="search" [(ngModel)]="search" #txtBody>
    </div>
    <div class="col-xs-2">
      <label class="checkbox-inline" style="color: white;">
        <input type="checkbox" [checked]="bookmarkedPostsSelected" (change)="bookmarkedPostsSelected = !bookmarkedPostsSelected">Bookmarked</label>
    </div>
    <div class="col-xs-3">
      <a href="javascript:void(0);" class="pull-right" (click)="reverseDate()" style="color:white;">Sort Date</a>
    </div>
  </div>
  <div class="row" *ngIf="!bookmarkedPostsSelected">
      <app-blog-item
        *ngFor="let post of posts | searchfilter: '_source.title': txtBody.value | paginate: { itemsPerPage: itemsPerPage, currentPage: page };let i = index"
        [i]="i"
        [layout]="layout"
        [itemsPerPage]="itemsPerPage"
        [selectedPostIndex]="selectedPostIndex"
        [post]="post"
        [class.active]="i == 0"
        (click)="setSelectedPostIndex(i)"
    [ngStyle]="{backgroundColor:i == selectedPostIndex}"></app-blog-item>
  </div>
  <div class="row" *ngIf="bookmarkedPostsSelected">
    <app-blog-item
      *ngFor="let post of posts | bookmarked | searchfilter: '_source.title': txtBody.value | paginate: { itemsPerPage: itemsPerPage, currentPage: page };let i = index"
      [i]="i"
      [layout]="layout"
      [itemsPerPage]="itemsPerPage"
      [selectedPostIndex]="selectedPostIndex"
      [post]="post"
      [class.active]="i == 0"
      (click)="setSelectedPostIndex(i)"
      [ngStyle]="{backgroundColor:i == selectedPostIndex}"></app-blog-item>
  </div>
  <div class="row paginate">
    <pagination-controls  (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



<!--<div>
  <ngx-datatable
    [rows]="posts"
    [columns]="columns">
  </ngx-datatable>
</div>-->

<!--<div class="col-xs-12">
  <tr *ngFor="let post of posts">
    <td>{{post._source.body}}</td>
  </tr>
</div>-->

<!--<div class="row" style="background-color:white;">
  <div class="col-xs-6">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="title">Title</th>
        <th mat-header="body">Body</th>
        <th mat-sort-header="fat">Date</th>
      </tr>

      <tr *ngFor="let post of sortedData">
        <td>{{post._source.title}}</td>
        <td>{{post._source.body | slice:0:100}}</td>
        <td>{{post._source.date | date: 'shortDate'}}</td>
      </tr>
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>
    </table>
  </div>
</div>-->

